$font-size-base: 1rem;
$font-size-h1: 4.236em;
$font-size-h2: 2.618rem;
$font-size-h3: 1.282rem;
$font-size-h4: $font-size-base;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-base;
$font-family-base: 'Khula', sans-serif;